.nav {}

.menu {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 500px;
}

.menu__item {
    list-style: none;
    width: 100%;
    margin: 0 10px 0 10px;
}

.menu__item--btn {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    border: 1px solid white;
    letter-spacing: 2px;
    border-radius: 8px;
    text-align: center;
    transition: .2s linear;
    max-width: 165px;
    margin: 0 auto;
}

.menu__item--btn:hover {
    background-color: #696868;
    color: #fff;
}


.menu__item--btnActive {
    background-color: #696868;
    color: #fff;
}